.title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 5rem;
  background-color: orange;
  font-size: 2rem;
  border-radius: 6px;
}

.inputGroup {
  margin-bottom: 1rem;
}
.errorOutline {
  border: 2px solid red;
}
.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
