.siteFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8080805e;
  padding: 2rem;
  grid-area: siteFooter;
  width: 100%;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .siteFooter {
    margin: 0 1rem;
    border-radius: 1rem;
  }
}
