.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.personalInfo,
.contactInfo {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.legend {
  font-size: 1.5em;
  font-weight: bold;
  color: #e77422;
  margin-bottom: 10px;
}

.label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.input[type='text'],
.input[type='tel'],
.input[type='email'] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.input[type='text']:focus,
.input[type='tel']:focus,
.input[type='email']:focus {
  border-color: #e77422;
  outline: none;
}

.submit {
  padding: 0.6rem 1rem;
  border: none;
  background: #e77422;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

.error {
  text-align: center;
  margin-bottom: 1rem;
  color: red;
  font-weight: bold;
}
