.heroText {
  background-color: orange;
  padding: 1rem;
}
.heroText h1 {
  font-size: 3.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.heroText h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.heroText h3 .colourChange {
  color: white;
}

@media only screen and (min-width: 768px) {
  .heroWrapper {
    display: grid;
    grid-template-areas: "left right";
    gap: 2rem;
  }
  .heroImage {
    grid-area: left;
  }
  .heroText {
    grid-area: right;
    align-self: center;
    max-width: 70%;
    justify-self: end;
  }
}
